html { font-size: 15px; }

body {
  font-family:Georgia,"Times New Roman","Hiragino Mincho","Meiryo",serif;
  background-color: hsl(0, 0%, 100%);
}

div.article {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 800px;
}

h1 {
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3.2rem;
     line-height: 1; }

h2 {
     font-weight: 400;
     margin-top: 2.1rem;
     margin-bottom: 0;
     font-size: 1.8rem;
     line-height: 1; }

h3 {
     font-weight: 400;
     font-size: 1.7rem;
     margin-top: 2rem;
     margin-bottom: 0;
     line-height: 1; }

p, ol, ul { font-size: 1.1rem; }

p { line-height: 1.75rem; in en.css or ja.css
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline; }


section>ul {
  width: 50%;
}

section>ol {
  width: 50%;
}

p.boxed {
  border-radius: 2em;
  border: solid gray 1px;
  padding: 0.5em;
}

img.right {
  float: right;
}

img.border-bottom {
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

img.middle {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.horizontal {
  width: 120%;
  display: flex;
  justify-content: space-around;
}

.sidenote, .marginnote {
                      margin-bottom: 1.5rem;
}

.sidenote-number:after, .sidenote:before {
    font-family: 'Vollkorn', serif;
}

@media (max-width: 760px) {
   section>ul { width: 95%; }
   section>ol { width: 95%; }
}
